<p id="notice"><%= notice %></p>

<%= content_tag :div, class: "background-image-holder",
                style: "background: url('#{image_path('friend.png')}')" do%>
  <h1>All Seeing Eyes</h1>

<table id = "thing">
  <thead>
    <tr>
      <th>Ip</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @all_seeing_eyes.each do |all_seeing_eye| %>
      <tr>
        <td><%= all_seeing_eye.ip %></td>
        <td><%= all_seeing_eye.message %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%end %>