// Place all the styles related to the AllSeeingEyes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#thing{
  background: #1d388c;
}

.background-image-holder{
  width:100%;
  height: 100%;
  position: fixed;
  left:0px;
  top:0px;
  min-height: 100vh;
  min-width: 100vw;
}