// Place all the styles related to the AllSeeingEyes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html{
  background-image: image-url('friend.png')
}

body{
  background-image: image-url('friend.png')
}

#thing{
  background: #1d388c;
}